p#pogrubienie_Bondar{
	font-size: 31px;
	color: #8FC0D2;
}

p#pochylona_Bondar{
	font-size: 36pt;
	color: #F3C06E;
}

p#index_gorny_Bondar{
	font-size: 1.1cm;
	color: #998E1E;
}

p#index_dolny_Bondar{
	font-size: 1.7cm;
	color: #3FF2E6;
}

p#mono_Bondar{
	font-size: 41px;
	color: #23DE6E;
}

p#powiekszenie_Bondar{
	color: #5d3ea0;
}

p#pomniejszenie_Bondar{
	color: #c1a23c;
}