#akapit1::first-letter{
    font-size: 120pt;
}

#akapit2::first-letter{
    font-size: 120pt;
}

#akapit1{
    color: gold;
    font-size: 24pt;
}

#akapit2{
    color: yellow;
    font-size: 19pt;
}

